body{
    background: rgba(230,230,230,1);
    font-family: 'Segoe UI', sans-serif;
    font-weight: 100;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #dfdfdf;
    color: #505050;
  }
  
  h1, h2, h3, h4, h5, p{
    margin: 0;
    font-weight: 100;
  }

  .EventsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
  }
  